@import "tailwindcss";

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      @font-face {
        font-family: 'Paris';
        font-style: normal;
        font-weight: normal;
        src:  url("assets/fonts/Parisienne/Parisienne-Regular.ttf") format('truetype');
    }

    @font-face {
      font-family: 'Popins';
      font-style: normal;
      font-weight: normal;
      src:  url("assets/fonts/Poppins/Poppins-Regular.ttf") format('truetype');
  }
}